[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	push = group Galaxy S5
	pushMerge = group Galaxy S5
	label-Code-Review = -2..+2 group Galaxy S5
	labelAs-Code-Review = -2..+2 group Galaxy S5
	rebase = group Galaxy S5
	submit = group Galaxy S5
	submitAs = group Galaxy S5
	editTopicName = group Galaxy S5
